<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/' debug="false">
	
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%5p [%t] %d{dd-MMM-yyyy HH:mm:ss} (%F:%L) - %m%n"/>
		</layout>
	</appender>
	
	<appender name="async" class="org.apache.log4j.AsyncAppender">
		<param name="BufferSize" value="500"/>
		<appender-ref ref="console"/>
	</appender>
	
	<appender name="html" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="./log4j/log.html"/>  
		<param name="MaxFileSize" value="1MB"/>  
		<param name="MaxBackupIndex" value="0"/>  
		<layout class="org.apache.log4j.HTMLLayout">
			<param name="Title" value="MaxCare UAT log"/>
			<param name="LocationInfo" value="true"/>
		</layout>
	</appender>

	<logger name="org.springframework">
		<level value="OFF"/>
	</logger>
	<logger name="org.springframework.beans.factory.xml">
		<level value="OFF"/>
	</logger>
	<logger name="httpclient.wire">
		<level value="OFF"/>
	</logger>
		<logger name="org.apache.http">
  		<level value="OFF"/> 
	</logger>
	<logger name="org.apache.http.wire">
  		<level value="OFF"/> 
	</logger>
	<logger name="org.apache.http.impl.conn">
  		<level value="OFF"/> 
	</logger>
	<logger name="org.apache.http.impl.conn.wire">
  		<level value="OFF"/> 
	</logger>
	<logger name="org.apache.commons.httpclient">
		<level value="OFF"/>
	</logger>
	<logger name="org.apache.commons.logging.simplelog.log.org.apache.http.wire">
		<level value="OFF"/>
	</logger>
	<logger name="org.apache.commons.logging.simplelog.log.org.apache.http.impl.conn">
		<level value="OFF"/>
	</logger>
	<logger name="org.apache.commons.logging.simplelog.log.org.apache.http.impl.client">
		<level value="OFF"/>
	</logger>
	<logger name="org.apache.commons.logging.simplelog.log.org.apache.http.client">
		<level value="OFF"/>
	</logger>
	<logger name="com.firstutility.reach">
		<level value="OFF"/>
	</logger>
	
	<root>  
        <priority value="INFO"/>  
        <appender-ref ref="console"></appender-ref>	
		<!-- <appender-ref ref="html"></appender-ref> -->	
    </root>	
	
</log4j:configuration>